{% extends "classic.html" %}
{% block content %}
<body class = "hip">
    <div class="container">
      <header class="d-flex justify-content-center py-3">
          <form action="/Wild_Beavers">
              <button class="nav-item" type="submit">Головна сторінка</button>
          </form>
      </header> 
      <h1 class="musical">Хіп-хоп</h1>
      <form method="GET" action="/hiphop" class="form-inline mb-4 search-form">
          <input class="bar" type="search" placeholder="Search" aria-label="Search" name="search" value="{{ request.args.get('search', '') }}">
      </form>
{% endblock %}

